@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ShoppingCartClass"class="btn btn-primary">View Cart</a>
    <a asp-action="CreateEditCart" class="btn btn-secondary">Add new</a>
</div>
